<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DowntimeReasonSuggetstionWeb" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python37_64\python.exe|C:\machine-learning\DowntimeReasonSuggetstionWeb\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>

    <appSettings>
        <add key="WSGI_LOG" value="d:\wfastcgi.log" />
    </appSettings>
</configuration>
